<h3>You searched for "<%= params[:q] %>"</h3>

<% if @query["ResultSet"]["Result"].kind_of?(Array) %>
  <h4>Uh oh. That's not specific enough. Which location did you mean to search for?</h4>
  <br>
  <ul>
    <% @query["ResultSet"]["Result"].each do |addr| %>
      <li>
        <% loc = [addr["city"], addr["county"], addr["state"], addr["country"]].compact.join(", ") %>
        <%= link_to loc, pictures_path(:q => loc) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h4>
    We searched around
    <% addr = @query["ResultSet"]["Result"] %> 
    "<%= [addr["city"], addr["county"], addr["state"], addr["country"]].compact.join(", ") %>"
  </h4>
<% end %>
<br>
<br>

<div class="row">
  <div class="span9">
    <% if @pictures %>
      <% @pictures.each do |p| %>
        <%= image_tag p["oembed"]["url"] %><br>
        <% caption = p["data"]["caption"] %>
        <% if caption %>
          <%= (caption["from"]["username"] + " &mdash;").html_safe rescue nil %>
          <%= caption["text"] rescue nil %><br>
        <% else %>
          <% p %>
        <% end %>
        <br>
      <% end %>
    <% end %>

    <% if @additional_pictures %>
      <% @additional_pictures.each do |p| %>
        <%= image_tag p["images"]["standard_resolution"]["url"] %><br>
        <% caption = p["caption"] %>
        <% if caption %>
          <%= (caption["from"]["username"] + " &mdash;").html_safe rescue nil %>
          <%= caption["text"] %><br>
        <% end %>
        <br>
      <% end %>
    <% end %>
  </div>
  <div class="span3">
    <% if @lat and @lon %>
      <h4>Nearest Airport</h4>
    <% end %>
  </div>
</div>