<header class="jumbotron masthead">
  <div class="inner">
    <h1>Welcome!</h1>
    
    <h3><%= session[:access_token] %></h3>
    <%= @query %>
  </div>
</header>

<p>
  <% %w[facebook twitter].each do |service| %>
    <li>
      <%= service.capitalize %>
      <% if @profiles && @profiles[service] %>
        is connected as
        <%= @profiles[service] %>
      <% else %>
        is not connected.
        <%= link_to "Connect", "/auth/singly?service=#{service}" %>
      <% end %>
    </li>
  <% end %>
</p>